
.my-bg-color1 {
    background-color: #A084DC;
}
.my-bg-color2 {
    text-align: center;
}
.my-txt-color1 {
    color: #0081C9!important;
}
.my-txt-color2 {
    color: #7F167F!important;
}
.my-txt-color3 {
    color: #FB2576!important;
}